@import "tailwindcss";

@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Poppins', sans-serif;
}


html {
  scroll-behavior: smooth;
  font-family: var(--font-poppins), sans-serif;

}

:root {
  --bg-light: #ffffff;
  --bg-dark: #0f172a;
  --text-light: #0f172a;
  --text-dark: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-[var(--bg-light)] text-[var(--text-light)] dark:bg-[var(--bg-dark)] dark:text-[var(--text-dark)];
}
.blinking-cursor {
  animation: blink 1s steps(2, start) infinite;
  color: inherit;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes fallingStars {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
